<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido al Imperio Galáctico</title>
</head>
<body>
    <h1>Bienvenido al API del Imperio Galáctico</h1>
    <p>Este es un servicio que proporciona información sobre las naves del Imperio Galáctico.</p>
    <p>Visita los siguientes endpoints:</p>
    <ul>
        <li><a href="/api/nave/general">Obtener Naves Generales</a></li>
        <li><a href="/api/nave/especifico">Obtener Nave Específica</a></li>
        <!-- <li><a href="/api/nave/piloto">Obtener Piloto</a></li> -->
        <li><a href="/api/nave/piloto">Obtener Pilot</a></li>
    </ul>
</body>
</html>
